.about {
  display: flex;
  flex-direction: column;
  //width: 50%;
  justify-content: center;
  padding-left: 25%;
  padding-right: 25%;
  padding-top: 80px;
  padding-bottom: 50px;
  background-color: rgba(247, 247, 247, 0.94);
  .about-1 {
    padding-top: 2%;
  }
  .pic {
    justify-content: center;
    margin: auto;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: #f3696e;
    background: linear-gradient(90deg, #f3696e 12%, #f8a902 88%);
  }
}
.a-txt {
  padding-top: 10px;
}
//
@media only screen and (max-width: 481px) {
  .about {
    padding-left: 12%;
    padding-right: 12%;
    padding-top: 15%;
    padding-bottom: 8%;
    .about-1 {
      padding-top: 5%;
    }
  }

}
