.pt {
  text-align: center;
}
.row-1 {
  margin-top: 50px;
}
.box-1 {
  display: block;
  width: 300px;
  height: 220px;
  background: rgb(0, 97, 255);
  background: linear-gradient(
    90deg,
    rgba(0, 97, 255, 1) 12%,
    rgba(96, 239, 255, 1) 88%
  );
  // background-color: red;
  border-radius: 25px;
  position: relative;
  color: white;
}
.t1 {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  font-size: 30px;
}

.row-1 {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.b1-content {
  width: 450px;
  padding-left: 80px;
  margin-top: 25px;
  .btn-1 {
    margin-top: 25px;
    padding: 8px 40px;
    border-radius: 10px;
    border: 0px;
    background: rgb(25, 91, 255);
    color: #fff;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    cursor: pointer;
    transition: all 0.255 ease;
    outline: none;
  }
  .btn-1:hover {
    transform: translate(0, -6px);
    box-shadow: 0px 10px 20px 0px rgba(25, 91, 255, 0.4);
  }
  .btn-1:active {
    transform: translate(0, -3px);
    box-shadow: Opx 5px 10px 0px rgba(25, 91, 255, 0.6);
  }
}

.row-2 {
  margin-top: 50px;
}
.box-2 {
  display: block;
  width: 300px;
  height: 220px;
  background: rgb(255, 15, 123);
  background: linear-gradient(
    90deg,
    rgba(255, 15, 123, 1) 12%,
    rgba(248, 155, 41, 1) 88%
  );
  //background-color: red;
  color: white;
  border-radius: 25px;
  position: relative;
}
.t2 {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  font-size: 30px;
}

.row-2 {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  flex-wrap: wrap;
}
.b2-content {
  width: 450px;
  padding-right: 80px;
  margin-top: 25px;
  .btn-2 {
    margin-top: 25px;
    padding: 8px 40px;
    border-radius: 10px;
    border: 0px;
    background: rgb(25, 91, 255);
    color: #fff;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    cursor: pointer;
    transition: all 0.255 ease;
    outline: none;
  }
  .btn-2:hover {
    transform: translate(0, -6px);
    box-shadow: 0px 10px 20px 0px rgba(25, 91, 255, 0.4);
  }
  .btn-2:active {
    transform: translate(0, -3px);
    box-shadow: Opx 5px 10px 0px rgba(25, 91, 255, 0.6);
  }
}

.port {
  //width: 50%;
  background-color: rgba(247, 247, 247, 0.94);
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 50px;
  padding-bottom: 50px;
}

@media only screen and (max-width: 749px) {
  .b1-content {
    text-align: center;
    padding: 0 10%;
  }
  .box-1 {
    width: 240px;
    height: 200px;
  }

  .b2-content {
    text-align: center;
    padding: 0 10%;
  }
  .box-2 {
    width: 240px;
    height: 200px;
  }
  .port {
  //width: 50%;
 
  //padding-left: 10%;
  //padding-right: 10%;
  padding-top: 30px;
  padding-bottom: 40px;
}
.row-1 {
  margin-top: 30px;
}
.row-2 {
  margin-top: 50px;
}
}
